/*!
 * October Controls
 */

.progress-bar-container {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
}
.progress-bar-container .progress {
    margin-top: 15px;
    margin-bottom: 10px;
}
.progress-bar-container.loading {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    opacity: 1;
}
.progress-bar-container.loaded {
    opacity: 0;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    width: 0;
}
.progress-bar-container.loaded .progress-bar {
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: 100% !important;
}

.progress-bar-container.failed .progress-bar {
    width: 100% !important;
}
.progress-bar-container .progress-message {
    font-size: 17px;
    position: relative;
    padding-left: 42px;
    line-height: 32px;
}
.progress-bar-container .progress-message:before {
    content: "";
    background: transparent url('../images/sprite.png') no-repeat;
    background-size: 32px auto;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    background-position: 0 -32px;
}

.progress-bar-container.failed .progress-message:before {
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
    background-position: 0 -64px;
}

.callout {
    margin-bottom: 20px;
    padding: 20px;
    border-left: 3px solid #eeeeee;
    border-radius: 4px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout-danger {
    background-color: #fdf7f7;
    border-color: #ebccd1;
}
.callout-danger h4 {
    color: #b94a48;
}
.callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.callout-warning h4 {
    color: #c09853;
}
.callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}
.callout-info h4 {
    color: #3a87ad;
}

.system-check li {
    padding: 10px;
    padding-left: 52px;
    margin-bottom: 10px;
    min-height: 32px;
    background: #FFF;
    position: relative;
}
.system-check li:before {
    content: "";
    background: transparent url('../images/sprite.png') no-repeat;
    background-size: 32px auto;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 7px;
    top: 5px;
}
.system-check li.pass:before {
    background-position: 0 0;
}
.system-check li.fail:before {
    background-position: 0 -64px;
}
.system-check li.load:before {
    background-position: 0 -32px;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.scroll-panel {
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
    overflow: auto;
    max-height: 250px;
    background: #e9e9e9;
    font-size: 12px;
    border-radius: 3px;
}
.app-eula .scroll-panel {
    height: 250px;
    line-height: 2;
}

.advanced-options {
    overflow: hidden;
    max-height: 0;
}
.advanced-options.visible {
    max-height: 2000px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.package-list-empty {
    background: #fff;
    border: 1px dotted rgba(0,0,0,.2);
    text-align: center;
    padding: 30px 10px 20px;
    font-size: 16px;
    color: #999;
}
.package-list {
    margin: 0;
    padding: 0;
    overflow: hidden; /* clearfix */
}
.package-list li {
    float: left;
    padding: 0;
    margin: 0 10px 10px 0;
    list-style: none;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    border-radius: 3px;
}
.package-list li:hover {
    border-color: transparent;
}
.package-list li {
    -webkit-transition: border .2s linear;
    -moz-transition: border .2s linear;
    transition: border .2s linear;
}
.package-list li button,
.package-list li .image,
.package-list li .details {
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.package-list li .image {
    padding: 5px;
}
.package-list li .image img {
    width: 125px;
    height: 125px;
}
.package-list li:hover .image {
    opacity: 0;
}
.package-list li .details {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 10px;
    overflow: hidden;
}
.package-list li:hover .details {
    opacity: 1;
}
.package-list li h4 {
    padding: 15px 0 0;
    margin: 0;
}
.package-list li p {
    padding: 0;
    margin: 0;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}
.package-list li button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.package-list li:hover button {
    opacity: .3;
}
.package-list li:hover button:hover {
    opacity: .8;
}

.suggested-packages-container {
}
.suggested-packages-container .scroll-panel {
    padding: 0 15px;
}
.suggested-packages {
    padding: 0;
}
.suggested-packages .package {
    padding: 0;
}
.suggested-packages .image img {
    width: 75px;
    height: 75px;
}
.suggested-packages .image {
    float: left;
    margin-right: 15px;
    position: relative;
}
.suggested-packages .details h5 {
    margin: 15px 0 0;
    font-size: 20px;
}
.suggested-packages .details p {
    font-size: 14px;
}
.suggested-packages a {
    color: #777;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
.suggested-packages a:hover:not(.package-included) {
    color: #333;
    background: #f9f9f9;
    border-color: #f0f0f0;
}
.suggested-packages a:hover .image {
}
.suggested-packages a:hover .image:after {
    content: "+";
    color: #999;
    font-size: 64px;
    display: block;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    position: absolute;
    top: 0;
    left: 0;
}
.suggested-packages a:hover:not(.package-included) .image img {
    opacity: .5;
}
.suggested-packages a.package-included {
    cursor: default;
    opacity: .5;
}
.suggested-packages a.package-included .image:after {
    content: "";
    background: transparent url('../images/sprite.png') no-repeat;
    background-size: 75px auto;
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 0 0;
}


/*!
 * Typeahead
 */

.package-search {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 15px;
    text-align: left;
    background-color: #428bca;
    border: 1px solid #024e6a;
    border-radius: 3px;
}

.twitter-typeahead {
    width: 100%;
}
.typeahead,
.tt-hint {
    width: 100%;
    height: 46px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #024e6a;
    border-radius: 3px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-query {
    font-weight: 200;
}
.tt-hint {
    color: #999;
    font-weight: 200;
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    font-size: 14px;
    line-height: 18px;
}
.tt-suggestion + .tt-suggestion {
    font-size: 14px;
    border-top: 1px solid #ccc;
}
.tt-suggestions .package-details {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.tt-suggestions .package-image {
    float: left;
    margin-right: 10px;
}
.tt-suggestions .package-image img {
    height: 45px;
    width: 45px;
}
.tt-suggestions .package-name {
    font-size: 20px;
    padding-top: 5px;
}
.tt-suggestions .package-description {

}

.tt-suggestion.tt-is-under-cursor .package-details {
    color: #333;
    background: #f9f9f9;
    border-color: #f0f0f0;
}
.tt-suggestion.tt-is-under-cursor .package-details .package-image:after {
    content: "+";
    color: #999;
    font-size: 38px;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.tt-suggestion.tt-is-under-cursor .package-details .package-image img {
    opacity: .5;
}
