@font-face {
	font-family: 'installer';
	src:url('fonts/installer.eot?yfo1mq');
	src:url('fonts/installer.eot?#iefixyfo1mq') format('embedded-opentype'),
		url('fonts/installer.woff?yfo1mq') format('woff'),
		url('fonts/installer.ttf?yfo1mq') format('truetype'),
		url('fonts/installer.svg?yfo1mq#installer') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'installer';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
	content: "\e600";
}

.icon-leaf:before {
	content: "\e601";
}

.icon-rocket:before {
	content: "\e602";
}

